/* body is all of everything so don't be too specific here*/
.body {
  font-family: sans-serif;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align-last: center;
}
  
#searchText {
  position: relative;
  height: 40px;
  width: 550px;
  margin: 15px;
  background: white;
  border-radius: 30px;
  color: white;
  text-justify:;
  font-weight:bold;
  text-align: left;
  line-height: 40px;
}

h1 {
  border-radius: 100px;
  margin: 200px;
  margin-bottom:50px ;
  font-weight: bolder;
}

/* This is the parent navigation bar */
.topBar {
  column-gap: 15px;
  height: 60px;
  /* border: solid 2px red; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-end; */
   align-items: baseline;
   justify-items: center;
  }

.homeButton {
  height: 30px;
  width: 30px;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30px; 
  background-color: white;
  color: rgb(84, 200, 84);
  font-weight: bold;
  text-align: center;
}
  
.homeButton:hover {
  color: white;
  background-color:  rgb(84, 200, 84);
}

.dropdown {
  color: black;
  background-color: white;
  /* justify-self: flex-start; */
  /* border: solid 2px blue; */
  position: relative;
  /* display: inline-block; */
}

.dropbtn {
  /* border: solid 2px green; */
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 16px;
}

/* What appears in the drop down */
.dropdown-content {
  /* border: solid 2px purple; */
  display: none;
  position: absolute;
  background-color: rgba(50, 50, 50, 255);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}
 

.dropdown-content a {
  font-weight: bold;
  color: white;
  padding: 10px;
  text-align: left;
  text-decoration:double;
  display: block;
}

.divider {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: solid 2px paleturquoise;
  color:yellow;
  font-weight: bold;
}

.dropLinks {
  color:yellow;
  font-weight: bold;
  
}


.toTheRIGHT {
  border: solid 2px red;
  justify-content: end;
}


#websitePillButton {
  position: relative;
  width: 100px;
  height: 40px;
  margin: 10px 0;
  background-color: rgb(236, 179, 197);
  padding: 10px, 20px;
  border-radius: 30px;
  color: black;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  text-indent: .1em;
}

#websitePillButton:hover {
  background: rgb(75, 155, 75);
  color: white;
}

#paidCoursesPillButton {
  position: relative;
  width: 125px;
  height: 40px;
  margin: 10px 0;
  background-color: white;
  padding: 10px, 20px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  text-indent: .1em;
}

#paidCoursesPillButton:hover {
  background: rgb(75, 155, 75);
  color: white;
}

#logInPillButton {
  position: relative;
  width: 135px;
  height: 40px;
  margin: 10px 0;
  background-color: rgb(84, 200, 84);
  padding: 10px, 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  text-indent: .1em;
}

#logInPillButton:hover {
  background: rgb(75, 155, 75);
}


.learnToCodeContent {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: fit-content;
  min-height: 800px;
  background-color: black;
  color:white;
}

#learnToCodeHeader1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  }
  
#learnToCodeHeader2 {
  color: #FFC0C7;
  font-weight: bold;
  margin: 30px;
}
#notSureLink {
  flex-grow:;
  align-items: stretch;

}

#HTMLHeader {
  font-size: 70px;
  font-weight: bold;
}

#HTMLHeader2 {
  font-size: 20px;
  font-weight: bold;
}

.HTMLContent {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: fit-content;
  align-items: center;
  background-color: rgb(225, 255, 219);
  color:black;
}

textarea {
  height: 300px;
  margin-bottom: 30px;
  border: 30px;
  margin: 30px;
}

.CSSContent {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: fit-content;
  align-items: center;
  background-color: rgb(225, 255, 219);
  color:black;
}

#learnHTMLPillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: rgb(84, 200, 84);
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  margin: 10px;
}

#learnHTMLPillButton:hover {
  color: white;
  background: rgb(75, 155, 75);
}

#videoTutorialPillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: rgb(255, 236, 151);
  border-radius: 30px;
  color: black;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  margin: 10px
}

#videoTutorialPillButton:hover {
  background: rgb(255, 207, 104);
}

#HTMLReferencePillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background: rgb(78, 78, 78);
  border-radius: 30px;
  color: white;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  margin: 10px
}

#HTMLReferencePillButton:hover {
  background: rgb(0, 0, 0);
}

.CSSContent {
  border: 10px black;
  padding: 25%;
  background-color: rgb(255, 236, 151);
  color:black;
  
}

#CSSHeader1 {
  font-size: 70px;
  font-weight: bold;
}

.searchBar {
  font-weight: bold;
  text-decoration-line: underline;
}

.searchBar:hover{
color: rgb(75, 155, 75);
}

 /* Change color of dropdown links on hover  */
.dropdown-content a:hover {
  color: rgba(50, 50, 50, 255);
  background-color: aliceblue;}

 /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column; 
}

 /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(100, 200, 100)} 