/* body is all of everything so don't be too specific here*/
.body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  border-radius: 100px;
  margin: 200px;
  margin-bottom: 50px;
  font-weight: bolder;
}

/* This is the parent navigation bar */
/* --------------------------------------
--------------------------------------
-------------------------------------- */

.topBar {
  column-gap: 15px;
  height: 60px;
  /* border: solid 2px red; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-end; */
   align-items: baseline;
   justify-items: center;
  }

.homeButton {
  height: 30px;
  width: 30px;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30px; 
  background-color: white;
  color: rgb(84, 200, 84);
  font-weight: bold;
  text-align: center;
}
  
.homeButton:hover {
  color: white;
  background-color:  rgb(84, 200, 84);
}

.dropdown {
  color: black;
  background-color: white;
  /* justify-self: flex-start; */
  /* border: solid 2px blue; */
  position: relative;
  /* display: inline-block; */
}

/*this is just the button*/
.dropbtn {
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 16px;
}

/* What appears in the drop down */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 500%;
  max-width: min-content;
  background-color: rgba(50, 50, 50, 255);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
.dropdown-content a {
  font-weight: bold;
  color: white;
  padding: 10px;
  text-align: start;
  text-decoration:double;
}

.divider {
  margin: 40px;
  text-indent: 20px;
  color:yellow;
  font-weight: bold;
}

/* list of clickable content in the dropdown menu */
.dropLinks {
  display: inline-flex;
  flex-flow: column wrap;
  color:yellow;
  font-weight: bold;
  margin: 50px;
}

/* Change color of dropdown links on hover  */
.dropdown-content a:hover {
  color: rgba(50, 50, 50, 255);
  background-color: aliceblue;}

 /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column; 
}

 /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(100, 200, 100)} 
.toTheRIGHT {
  border: solid 2px red;
  justify-content: end;
}


#websitePillButton {
  position: relative;
  width: 100px;
  height: 40px;
  margin: 10px 0;
  background-color: rgb(236, 179, 197);
  padding: 10px, 20px;
  border-radius: 30px;
  color: black;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  box-shadow: 1px 1px 1px palevioletred;
}

#websitePillButton:hover {
  background: rgb(75, 155, 75);
  color: white;
}

#paidCoursesPillButton {
  position: relative;
  width: 125px;
  height: 40px;
  margin: 10px 0;
  background-color: white;
  padding: 10px, 20px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

#paidCoursesPillButton:hover {
  background: rgb(75, 155, 75);
  color: white;
}

#logInPillButton {
  position: relative;
  width: 135px;
  height: 40px;
  margin: 10px 0;
  background-color: rgb(84, 200, 84);
  padding: 10px, 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  box-shadow: 1px 1px 1px green;
}

#logInPillButton:hover {
  background: rgb(75, 155, 75);
}

/* This is the main page with a black background
---------------------------------------------
--------------------------------------------- */

.learnToCodeContent {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: fit-content;
  min-height: 800px;
  align-items: center;
  text-align: center;
  background-color: black;
  color:white;
}

#learnToCodeHeader1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  }
  
#learnToCodeHeader2 {
  color: #FFC0C7;
  font-weight: bold;
  margin: 30px;
}

.searchBar {
  display: flex;
  font-weight: bold;
  text-decoration-line: underline;
  text-align: center;
  margin-bottom: 20px;
}
#searchText {
  position: relative;
  border-top: 1px;
  height: 40px;
  width: 400px;
  background: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  text-justify: left;
  font-weight:bold;
  text-align: left;
  line-height: 40px;
}
#submitPillButton {
  position: relative;
  width: 115px;
  height: 43px;
  background-color: rgb(84, 200, 84);
  padding: 10px, 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 1px 1px green;
}
#submitPillButton:hover {
  background: rgb(75, 155, 75);
}

#notSureLink {
  justify-content: center;
}
#notSureLink:hover {
  color:  rgb(84, 200, 84)
}

/* This is the html section
--------------------------------------
-------------------------------------- */

#HTMLHeader {
  font-size: 70px;
  font-weight: bold;
}

#HTMLHeader2 {
  font-size: 20px;
  font-weight: bold;
}

.HTMLContent {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: fit-content;
  align-items: center;
  background-color: rgb(225, 255, 219);
  color:black;
}
.textareaBox {
  position:static;
  background-color: lightslategray;
  box-shadow:3px 2px 1px black;
  margin: 50px
}
textarea {
  margin: 30px;
  box-shadow: 1px 1px 1px lightslategray;
}

#learnHTMLPillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: rgb(84, 200, 84);
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  margin: 10px;
  box-shadow: 1px 1px 1px green;
}

#learnHTMLPillButton:hover {
  color: white;
  background: rgb(75, 155, 75);
}

#videoTutorialPillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: rgb(255, 236, 151);
  border-radius: 30px;
  color: black;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  margin: 10px;
  box-shadow: 1px 1px 1px darkkhaki;
}

#videoTutorialPillButton:hover {
  background: rgb(255, 207, 104);
}

#HTMLReferencePillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background: rgb(78, 78, 78);
  border-radius: 30px;
  color: white;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  margin: 10px;
  box-shadow: 1px 1px 1px black;
}

#HTMLReferencePillButton:hover {
  background: rgb(0, 0, 0);
}

/* This is the CSS segment of the website
----------------------------------------
---------------------------------------- */

.CSSContent {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: fit-content;
  align-items: center;
  background-color: rgb(255, 236, 151);
  color:black;
}

#CSSHeader1 {
  font-size: 70px;
  font-weight: bold;
}

#learnCSSPillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: rgb(84, 200, 84);
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  box-shadow: 1px 1px 1px green;
}

#learnCSSPillButton:hover {
  color: white;
  background: rgb(75, 155, 75);
}
#CSSReferencePillButton {
  position: relative;
  width: 200px;
  height: 40px;
  background: rgb(78, 78, 78);
  border-radius: 30px;
  color: white;
  font-weight:bold;
  text-align: center;
  line-height: 40px;
  margin: 15px;
  box-shadow: 1px 1px 1px black;
}

#CSSReferencePillButton:hover {
  background: rgb(0, 0, 0);
}

.try {
  position: relative;
  width: 225px;
  height: 40px;
  background-color: rgb(84, 200, 84);
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  box-shadow: 1px 1px 1px green;
  margin-left: 30px;
  margin-bottom: 30px;
}

.try:hover{
  background-color: rgb(75, 155, 75);
}

.searchBar:hover{
  color: rgb(75, 155, 75);
}

 